# Windows Explorer files
Thumbs.db

# C-sharp Build and nuget packaging
output/
obj/
bin/
packages/
*.user
*.pdb
**/.vs
.nuget/NuGet.exe
/XLIFF/*

# Misc Transcelerator-specific local developer files
/British English localization notes.txt
/CpTxlToP75.bat
/Transcelerator/LocalizedPhrases.xlf
/SilUtils/SilUtilsTests/SimianDomains/
/Docs/Paratext.reg

# #region shared with https://github.com/paranext/paranext-multi-extension-template/blob/main/.gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
release
dist-ssr
*.local

# formatting and linting
.eslintcache

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Temporary intermediate build files
temp-build

# #endregion
