<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIL.Transcelerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SILUBS.PhraseTranslationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIL.Transcelerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SILUBS.PhraseTranslationHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SIL.Transcelerator.Properties.Settings>
            <setting name="QuestionsFile" serializeAs="String">
                <value>QTTallBooks.sfm</value>
            </setting>
        </SIL.Transcelerator.Properties.Settings>
        <SILUBS.PhraseTranslationHelper.Properties.Settings>
            <setting name="QuestionsFile" serializeAs="String">
                <value>QTTallBooks.sfm</value>
            </setting>
        </SILUBS.PhraseTranslationHelper.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SIL.Transcelerator.Properties.Settings>
            <setting name="DefaultWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="KeyTermFilterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatchPartialWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendScrRefs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceiveScrRefs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAnswersAndComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaximumHeightOfKeyTermsPane" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="GenerateTemplateRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateTemplateBook" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateSection" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateEndSection" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplatePassageBeforeOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateEnglishQuestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateEnglishAnswers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateIncludeComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateHandleUntranslatedQuestionsOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateTemplateBlankLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateTemplateNumberQuestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateUseExternalCss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateCssFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateAbsoluteCssPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateQuestionGroupHeadingsColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GenerateTemplateEnglishQuestionTextColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GenerateTemplateEnglishAnswerTextColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GenerateTemplateCommentTextColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="GenerateTemplateFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterStartRef" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FilterEndRef" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverrideDisplayLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateUseLWC" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ProduceScriptureForgeFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateIncludeVerseNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateOutputPassageForOutOfOrderQuestions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEditColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProjectCustomVersificationNotice" serializeAs="String">
                <value />
            </setting>
        </SIL.Transcelerator.Properties.Settings>
        <SILUBS.PhraseTranslationHelper.Properties.Settings>
            <setting name="DefaultWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="KeyTermFilterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MatchPartialWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendScrRefs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceiveScrRefs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAnswersAndComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MaximumHeightOfKeyTermsPane" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="GenerateTemplateRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateTemplateBook" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateSection" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateEndSection" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplatePassageBeforeOverview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateEnglishQuestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateEnglishAnswers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateIncludeComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateUseOriginalQuestionIfNotTranslated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerateTemplateBlankLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenerateTemplateNumberQuestions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateTemplateUseExternalCss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateCssFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateAbsoluteCssPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateTemplateQuestionGroupHeadingsColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GenerateTemplateEnglishQuestionTextColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GenerateTemplateEnglishAnswerTextColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GenerateTemplateCommentTextColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </SILUBS.PhraseTranslationHelper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Scripture" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="icu.net" publicKeyToken="416fdd914afa6b66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.DotNet.PlatformAbstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyModel" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SIL.Core.Desktop" publicKeyToken="cab3c8c5232dfcf2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="L10NSharp" publicKeyToken="fd0b3e309a5b7c28" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Markdig.Signed" publicKeyToken="870da25a133885f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.30.0.0" newVersion="0.30.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
