<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I L D_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!-- * means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
<?define Property_ProductCode = "*" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{6CA771D3-AA98-4cab-8616-2777C8EEA23D}" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component (except I've combined some PDB files with their DLLs):
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="Transcelerator $(var.Property_ProductVersion)" Language="1033"
             Version="$(var.Property_ProductVersion)" Manufacturer="SIL International"
             UpgradeCode="$(var.Property_UpgradeCode)">

    <Package  Compressed="yes" InstallerVersion="200" Manufacturer="SIL International" />

	  <MajorUpgrade Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of Transcelerator is already installed. If you really want to downgrade, first uninstall Transcelerator, then do this install again."/>

    <!--<Upgrade Id ="$(var.Property_UpgradeCode)" >
      <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade >-->

    <!-- show the license page -->
    <UIRef Id="WixUI_FeatureTree"/>
    <!-- Top banner / 493 × 58 -->
    <WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
    <!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
    <WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!-- 
    "from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
    users to install just the shortcut for your app, then demand-install the
    rest of the app the first time the icon is run.  If this is not behavior you
    are trying to support, you're better off using non-advertised shortcuts. "-->

    <Property Id="PARATEXT7" Secure="yes">
      <RegistrySearch Id="Paratext7"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Program_Files_Directory_Ptw7"
                      Type="directory" />
    </Property>
    <Property Id="PARATEXT7TEST" Secure="yes">
      <RegistrySearch Id="Paratext7Test"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Test_Program_Files_Directory_Ptw7"
                      Type="directory" />
    </Property> 
    <Property Id="PARATEXT8" Secure="yes">
      <RegistrySearch Id="Paratext8"
                      Root="HKLM"
                      Key="SOFTWARE\Paratext\8"
                      Name="Program_Files_Directory_Ptw8"
                      Type="directory" />
    </Property>
    <Property Id="PARATEXT8TEST" Secure="yes">
      <RegistrySearch Id="Paratext8Test"
                      Root="HKLM"
                      Key="SOFTWARE\Paratext\8"
                      Name="Test_Program_Files_Directory_Ptw8"
                      Type="directory" />
    </Property>
    <Condition Message="Before Transcelerator can install, you need to install Paratext 7.5.100.0 or later.">
        <![CDATA[Installed OR PARATEXT7 OR PARATEXT7TEST OR PARATEXT8 OR PARATEXT8TEST]]>
    </Condition>
        
    <Property Id="PARATEXT75100ORGREATER">
        <DirectorySearch Id="ParatextExeVersion" Path="[PARATEXT7]">
          <FileSearch Name="Paratext.exe" MinVersion="7.5.100.0"/>
        </DirectorySearch>
    </Property>
    <Condition Message="Before Transcelerator can install, you need to install Paratext 7.5.100.0 or later.">
      <![CDATA[Installed OR PARATEXT75100ORGREATER OR PARATEXT7TEST OR PARATEXT8 OR PARATEXT8TEST]]>
    </Condition>
    
    <Binary Id="CustomInstallerActions.CA.dll" 
            SourceFile="CustomInstallerActions/bin/Release/CustomInstallerActions.CA.dll" />
    
    <CustomAction Id="RemoveAllTransceleratorUserCacheFiles"
                  Return="asyncWait"
                  Execute="deferred"
                  Impersonate="no"
                  BinaryKey="CustomInstallerActions.CA.dll"
                  DllEntry="RemoveAllTransceleratorUserCacheFiles"  />

    <!--because of bug, this needs to be 1 -->
    <Property Id ="ALLUSERS">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PARATEXT7" Name="ParatextDir">
          <Directory Id="PLUGINDIR7" Name="plugins">
            <Directory Id="INSTALLDIR7" Name="Transcelerator"/>
          </Directory>
        </Directory>
        <Directory Id="PARATEXT7TEST" Name="ParatextDir7Test">
          <Directory Id="PLUGINDIR7TEST" Name="plugins">
            <Directory Id="INSTALLDIR7TEST" Name="Transcelerator"/>
          </Directory>
        </Directory>
        <Directory Id="PARATEXT8" Name="ParatextDir8">
          <Directory Id="PLUGINDIR8" Name="plugins">
            <Directory Id="INSTALLDIR8" Name="Transcelerator"/>
          </Directory>
        </Directory>
        <Directory Id="PARATEXT8TEST" Name="ParatextDir8Test">
          <Directory Id="PLUGINDIR8TEST" Name="plugins">
            <Directory Id="INSTALLDIR8TEST" Name="Transcelerator"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <ComponentGroup Id="COMPONENTSFORP7PLUGIN" Directory="INSTALLDIR7" Source="..\Transcelerator\bin\Release">
      <Component Guid="{AC56B7F3-C820-43f3-A47D-E30B01BB4FC6}">
        <File Id="Transcelerator.dll_P7" ShortName="k6nusfqn.dll" KeyPath="yes" Name="Transcelerator.dll" />
      </Component>
      <Component Guid="{C0907C0A-1400-44bf-BFC3-6F0D0F3ED03B}">
        <File Id="keyTermRules.xml_P7" ShortName="y5rrdzq5.xml" KeyPath="yes" Name="keyTermRules.xml" />
      </Component>
      <Component Guid="{120C24DA-4D9B-4192-B5CB-0B13CDC8410B}">
        <File Id="keyTermRules.xsd_P7" ShortName="tmymu60e.xsd" KeyPath="yes" Name="keyTermRules.xsd" />
      </Component>
      <Component Guid="{1F622276-9A2E-4FAD-BC49-560AEB8FCBFA}">
        <File Id="TxlQuestions.xml_P7" ShortName="4xx10zua.xml" KeyPath="yes" Name="TxlQuestions.xml" />
      </Component>
      <Component Guid="{E0A7B9CE-FAC2-4726-9305-9FD3B0501699}">
        <File Id="TxlQuestionWords.xml_P7" ShortName="zk1ka5xk.xml" KeyPath="yes" Name="TxlQuestionWords.xml" />
      </Component>
      <Component Guid="{352892BC-8904-4760-8E61-FC26C2865827}">
        <File Id="Analytics.NET.dll_P7" ShortName="wzi8aqe7.dll" KeyPath="yes" Name="Analytics.NET.dll" />
      </Component>
      <Component Guid="{E015C97A-B102-4C98-8D2A-57CB09D3B2D1}">
        <File Id="DesktopAnalytics.dll_P7" ShortName="ev3vuxec.dll" KeyPath="yes" Name="DesktopAnalytics.dll" />
      </Component>
      <Component Guid="{F173527F-7D86-4586-ADE0-7310681ECADD}">
        <File Id="Newtonsoft.Json.dll_P7" ShortName="yb09wi7t.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Guid="{9FDCE013-5249-4D5E-857D-AFFD9C28DBA6}">
        <File Id="TxlCore.dll_P7" ShortName="i8is0i8q.dll" KeyPath="yes" Name="TxlCore.dll" />
      </Component>
      <Component Guid="{ECA02522-194A-4694-B90B-C760595D24C5}">
        <File Id="SilUtils.dll_P7" ShortName="z98fwb2a.dll" KeyPath="yes" Name="SilUtils.dll" />
      </Component>
      <Component Guid="{1A126530-7E7F-4169-96E4-00900BA09864}">
        <File Id="SIL.WritingSystems.dll_P7" ShortName="pfznpucn.dll" KeyPath="yes" Name="SIL.WritingSystems.dll" />
        <File Id="SIL.WritingSystems.pdb_P7" Name="SIL.WritingSystems.pdb" />
      </Component>
      <Component Guid="{22416287-2AA6-469C-8240-2B5DB18C984E}">
        <File Id="SIL.Windows.Forms.Keyboarding.dll_P7" ShortName="k1dzcjen.dll" KeyPath="yes" Name="SIL.Windows.Forms.Keyboarding.dll" />
        <File Id="SIL.Windows.Forms.Keyboarding.pdb_P7" Name="SIL.Windows.Forms.Keyboarding.pdb"/>
      </Component>
      <Component Guid="{C0CFE633-A73C-4344-99B8-7A6A13F45B58}">
        <File Id="SIL.Windows.Forms.Scripture.dll_P7" ShortName="91oxry23.dll" KeyPath="yes" Name="SIL.Windows.Forms.Scripture.dll" />
        <File Id="SIL.Windows.Forms.Scripture.pdb_P7" Name="SIL.Windows.Forms.Scripture.pdb"/>
      </Component>
      <Component Guid="{6FF0AF28-DF6E-49FD-AB94-3A782C24D8D4}">
        <File Id="SIL.Scripture.dll_P7" ShortName="0phlyosz.dll" KeyPath="yes" Name="SIL.Scripture.dll" />
        <File Id="SIL.Scripture.pdb_P7" Name="SIL.Scripture.pdb"/>
      </Component>
      <Component Guid="{FF6542DE-FFE1-4BF6-ABAB-CF21BD3318F3}">
        <File Id="SIL.Windows.Forms.dll_P7" ShortName="ddnzx3rw.dll" KeyPath="yes" Name="SIL.Windows.Forms.dll" />
        <File Id="SIL.Windows.Forms.pdb_P7" Name="SIL.Windows.Forms.pdb"/>
      </Component>
      <Component Guid="{6E7C6D97-830E-4FDA-AC27-70951793A4B1}">
        <File Id="SIL.Core.dll_P7" ShortName="jlqxwocw.dll" KeyPath="yes" Name="SIL.Core.dll" />
        <File Id="SIL.Core.pdb_P7" Name="SIL.Core.pdb"/>
      </Component>
      <Component Guid="{C23F40CC-DADC-4E51-B317-E2B3DC4AAF6A}">
        <File Id="SIL.Core.Desktop.dll_P7" ShortName="1n8w3sdg.dll" KeyPath="yes" Name="SIL.Core.Desktop.dll" />
        <File Id="SIL.Core.Desktop.pdb_P7" Name="SIL.Core.Desktop.pdb"/>
      </Component>
	    <Component Guid="{98D718FC-99AF-4AEF-BE0D-9D24F69B5DA7}">
        <File Id="Keyman7Interop.dll_P7" ShortName="ie4zttme.dll" KeyPath="yes" Name="Keyman7Interop.dll" />
      </Component>
	    <Component Guid="{EEAD8314-BF44-4CE2-9EDE-78551B1BFF14}">
        <File Id="Keyman10Interop.dll_P7" ShortName="gsu9gkpc.dll" KeyPath="yes" Name="Keyman10Interop.dll" />
      </Component>
      <Component Guid="{EE7BDDBE-F456-4257-A5C6-F2B3C1B79097}">
        <File Id="KeymanLink.dll_P7" ShortName="egs9radi.dll" KeyPath="yes" Name="KeymanLink.dll" />
      </Component>
	    <Component Guid="{5D7D6D47-0C76-4CCB-B81A-923A90EC7AB3}">
        <File Id="Transcelerator.pdb_P7" ShortName="mjmy5nue.pdb" KeyPath="yes" Name="Transcelerator.pdb" />
      </Component>
      <Component Guid="{F289E8D6-42EC-4D72-8C0D-4347E17497F8}">
        <File Id="TxlCore.pdb_P7" ShortName="jleb4eyo.pdb" KeyPath="yes" Name="TxlCore.pdb" />
      </Component>
      <Component Guid="{D381546C-F766-4532-B23C-FB8B55320A6D}">
        <File Id="SilUtils.pdb_P7" ShortName="p0td7mjc.pdb" KeyPath="yes" Name="SilUtils.pdb" />
      </Component>	    
      <Component Guid="{32B95588-AEDD-43A3-AB4A-B4ECF3ADC49E}">
        <File Id="Icon_P7" ShortName="quvp5ur1.ico" KeyPath="yes" Name="TXL no TXL.ico" />
      </Component>
      <Component Guid="{C8A6EE73-5613-49B6-A656-1C030DC81E49}">
        <File Id="CreditsAndLicense.htm_P7" ShortName="ea1k2i83.htm" KeyPath="yes" Name="CreditsAndLicense.htm" />
      </Component>
      <Component Id="Transcelerator.dll.config_P7" Guid="{203E0DA1-9EF1-43C0-9E3B-756566BECA56}">
        <File Id="Transcelerator.dll.config_P7" ShortName="gzmrl3nd.cfg" KeyPath="yes" Name="Transcelerator.dll.config" />
      </Component>      
    </ComponentGroup>

	<ComponentGroup Id="COMPONENTSFORP7PLUGIN_es" Directory="INSTALLDIR7" Source="..\Transcelerator\bin\Release" >
      <Component Id="LocalizedPhrases_es.xlf_P7" Guid="{5B673BB8-C35B-458C-A7F6-F9F4EF533041}">
        <File Id="LocalizedPhrases_es.xlf_P7" ShortName="6i9lrqdm.xlf" KeyPath="yes" Name="LocalizedPhrases-es.xlf" />
      </Component>
	</ComponentGroup>
	
	<ComponentGroup Id="COMPONENTSFORP7PLUGIN_en_GB" Directory="INSTALLDIR7" Source="..\Transcelerator\bin\Release">
      <Component Id="LocalizedPhrases_en_GB.xlf_P7" Guid="{473B3B44-FABF-4E81-96FF-B01F7041A203}">
        <File Id="LocalizedPhrases_en_GB.xlf_P7" ShortName="4gy7oj6e.xlf" KeyPath="yes" Name="LocalizedPhrases-en-GB.xlf" />
      </Component>
	</ComponentGroup>
	
    <ComponentGroup Id="COMPONENTSFORP7TestPLUGIN" Directory="INSTALLDIR7TEST" Source="..\Transcelerator\bin\Release">
      <Component Guid="{6517fe81-0e7f-42ed-bdbc-0d5041bf6f46}">
        <File Id="Transcelerator.dll_P7Test" ShortName="9fsib2cv.dll" KeyPath="yes" Name="Transcelerator.dll" />
      </Component>
      <Component Guid="{b678910e-8610-42f1-9c76-cc3281bd49ba}">
        <File Id="keyTermRules.xml_P7Test" ShortName="d92j03fs.xml" KeyPath="yes" Name="keyTermRules.xml" />
      </Component>
      <Component Guid="{314d08e4-1d21-4b15-9b9a-3c4ad260643f}">
        <File Id="keyTermRules.xsd_P7Test" ShortName="1194exg5.xsd" KeyPath="yes" Name="keyTermRules.xsd" />
      </Component>
      <Component Guid="{79bf9630-ed68-4e8c-8eaa-2bbf5f81b941}">
        <File Id="TxlQuestions.xml_P7Test" ShortName="pr7gvp5k.xml" KeyPath="yes" Name="TxlQuestions.xml" />
      </Component>
      <Component Guid="{44eae9ce-57b3-48e8-9790-8a4824468472}">
        <File Id="TxlQuestionWords.xml_P7Test" ShortName="4m95zkrf.xml" KeyPath="yes" Name="TxlQuestionWords.xml" />
      </Component>

      <Component Guid="{1c250d8a-b1be-4a69-9205-13dbc232010f}">
        <File Id="Analytics.NET.dll_P7Test" ShortName="pt3ei4z5.dll" KeyPath="yes" Name="Analytics.NET.dll" />
      </Component>
      <Component Guid="{cd4132af-d6ce-4fa9-a449-91c3c1007037}">
        <File Id="DesktopAnalytics.dll_P7Test" ShortName="mcmisnhb.dll" KeyPath="yes" Name="DesktopAnalytics.dll" />
      </Component>
      <Component Guid="{cc83c303-bd88-4ccd-af41-c1a5d75d5612}">
        <File Id="Newtonsoft.Json.dll_P7Test" ShortName="2yd4aev9.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Guid="{ec4ac5d5-ea1d-42df-aeb7-26892f238393}">
        <File Id="TxlCore.dll_P7Test" ShortName="uk0wei71.dll" KeyPath="yes" Name="TxlCore.dll" />
      </Component>
      <Component Guid="{2981fd86-551d-4239-b504-53b48e5cc89e}">
        <File Id="SilUtils.dll_P7Test" ShortName="t5lk78ie.dll" KeyPath="yes" Name="SilUtils.dll" />
      </Component>
      <Component Guid="{9694698d-7734-4a19-ac2c-efcfc9a003cf}">
        <File Id="SIL.WritingSystems.dll_P7Test" ShortName="0dmsdv4y.dll" KeyPath="yes" Name="SIL.WritingSystems.dll" />
        <File Id="SIL.WritingSystems.pdb_P7Test" Name="SIL.WritingSystems.pdb"/>
      </Component>
      <Component Guid="{0e576195-dcd9-4cf6-8b44-3d0056f65c5b}">
        <File Id="SIL.Windows.Forms.Keyboarding.dll_P7Test" ShortName="ww6bl0mp.dll" KeyPath="yes" Name="SIL.Windows.Forms.Keyboarding.dll" />
        <File Id="SIL.Windows.Forms.Keyboarding.pdb_P7Test" Name="SIL.Windows.Forms.Keyboarding.pdb"/>
      </Component>
      <Component Guid="{2cb842c8-5dc5-4f06-a1fb-eb2b0ff93099}">
        <File Id="SIL.Windows.Forms.Scripture.dll_P7Test" ShortName="7wglaoxs.dll" KeyPath="yes" Name="SIL.Windows.Forms.Scripture.dll" />
        <File Id="SIL.Windows.Forms.Scripture.pdb_P7Test" Name="SIL.Windows.Forms.Scripture.pdb"/>
      </Component>
      <Component Guid="{b5a5f215-72d0-4c8a-9841-63f409d8b739}">
        <File Id="SIL.Scripture.dll_P7Test" ShortName="qpybzotc.dll" KeyPath="yes" Name="SIL.Scripture.dll" />
        <File Id="SIL.Scripture.pdb_P7Test" Name="SIL.Scripture.pdb"/>
      </Component>
      <Component Guid="{a79aa7e2-d44c-41f2-a751-db91567cc512}">
        <File Id="SIL.Windows.Forms.dll_P7Test" ShortName="5j3m7jap.dll" KeyPath="yes" Name="SIL.Windows.Forms.dll" />
        <File Id="SIL.Windows.Forms.pdb_P7Test" Name="SIL.Windows.Forms.pdb"/>
      </Component>
      <Component Guid="{66f4fbfd-00c5-4fcf-8270-e58c79b7a2cd}">
        <File Id="SIL.Core.dll_P7Test" ShortName="yifsuyy7.dll" KeyPath="yes" Name="SIL.Core.dll" />
        <File Id="SIL.Core.pdb_P7Test" Name="SIL.Core.pdb"/>
      </Component>
      <Component Guid="{C1D088B1-0982-4340-9C0E-4E4A47271C9C}">
        <File Id="SIL.Core.Desktop.dll_P7Test" ShortName="q3763bq8.dll" KeyPath="yes" Name="SIL.Core.Desktop.dll" />
        <File Id="SIL.Core.Desktop.pdb_P7Test" Name="SIL.Core.Desktop.pdb"/>
      </Component>
	    <Component Guid="{5942686e-bb3a-468e-92c0-84a2de6dd86d}">
        <File Id="Keyman7Interop.dll_P7Test" ShortName="5qlbklph.dll" KeyPath="yes" Name="Keyman7Interop.dll" />
      </Component>
	    <Component Guid="{BA0FDFA3-8486-4D95-BF41-20DFD020D671}">
        <File Id="Keyman10Interop.dll_P7Test" ShortName="95jisujd.dll" KeyPath="yes" Name="Keyman10Interop.dll" />
      </Component>
      <Component Guid="{70991ee9-5087-4a60-8973-9f1858aed379}">
        <File Id="KeymanLink.dll_P7Test" ShortName="w9zjyl63.dll" KeyPath="yes" Name="KeymanLink.dll" />
      </Component>
	    <Component Guid="{bb19a8dc-04dd-4583-b2b1-1353e2a505fe}">
        <File Id="Transcelerator.pdb_P7Test" ShortName="4ut3f5jb.pdb" KeyPath="yes" Name="Transcelerator.pdb" />
      </Component>
      <Component Guid="{00aa3d84-74f1-45f2-866d-be00f3b105e1}">
        <File Id="TxlCore.pdb_P7Test" ShortName="l1xkhgcz.pdb" KeyPath="yes" Name="TxlCore.pdb" />
      </Component>
      <Component Guid="{b771153a-114a-48c5-8e18-784e788d4686}">
        <File Id="SilUtils.pdb_P7Test" ShortName="gty40lss.pdb" KeyPath="yes" Name="SilUtils.pdb" />
      </Component>	    
      <Component Guid="{bb48a596-a43f-47f0-b6c9-fd125d18096f}">
        <File Id="Icon_P7Test" ShortName="fihp0pz8.ico" KeyPath="yes" Name="TXL no TXL.ico" />
      </Component>
      <Component Guid="{1d6f52b2-4bdf-4b20-8f6c-ee81dfea79d0}">
        <File Id="CreditsAndLicense.htm_P7Test" ShortName="2gd8uwk5.htm" KeyPath="yes" Name="CreditsAndLicense.htm" />
      </Component>
      <Component Id="Transcelerator.dll.config_P7Test" Guid="{443c69a5-d01b-4328-bd51-b4f76759ff4f}">
        <File Id="Transcelerator.dll.config_P7Test" ShortName="eemr572z.cfg" KeyPath="yes" Name="Transcelerator.dll.config" />
      </Component>
	  </ComponentGroup>

	<ComponentGroup Id="COMPONENTSFORP7TestPLUGIN_es" Directory="INSTALLDIR7TEST" Source="..\Transcelerator\bin\Release" >
	  <Component Id="LocalizedPhrases_es.xlf_P7Test" Guid="{3C31EA3F-3B5A-4934-81FE-121E61B60FFF}">
        <File Id="LocalizedPhrases_es.xlf_P7Test" ShortName="ejoysqre.xlf" KeyPath="yes" Name="LocalizedPhrases-es.xlf" />
      </Component>
	</ComponentGroup>
	
	<ComponentGroup Id="COMPONENTSFORP7TestPLUGIN_en_GB" Directory="INSTALLDIR7TEST" Source="..\Transcelerator\bin\Release">
      <Component Id="COMPONENTSFORP7TestPLUGIN_en_GB" Guid="{ED4756C6-C306-44C5-8418-0DEAA239D3E2}">
        <File Id="LocalizedPhrases_en_GB.xlf_P7Test" ShortName="7cogbz73.xlf" KeyPath="yes" Name="LocalizedPhrases-en-GB.xlf" />
      </Component>
	</ComponentGroup>
	  
    <ComponentGroup Id="COMPONENTSFORP8PLUGIN" Directory="INSTALLDIR8" Source="..\Transcelerator\bin\Release">
      <Component Guid="{91562ae0-0a28-4f0c-9345-95464e109314}">
        <File Id="Transcelerator.dll_P8" ShortName="c9c8ckpm.dll" KeyPath="yes" Name="Transcelerator.dll" />
      </Component>
      <Component Guid="{5489c826-5c96-4cd7-b3d2-887a4b38417b}">
        <File Id="keyTermRules.xml_P8" ShortName="jmcxym00.xml" KeyPath="yes" Name="keyTermRules.xml" />
      </Component>
      <Component Guid="{a5233d81-a835-43c6-9a6f-66b008c564fc}">
        <File Id="keyTermRules.xsd_P8" ShortName="our2lq65.xsd" KeyPath="yes" Name="keyTermRules.xsd" />
      </Component>
      <Component Guid="{ed5f7dce-6505-4df1-aa11-3d77a64e2f55}">
        <File Id="TxlQuestions.xml_P8" ShortName="59on7twv.xml" KeyPath="yes" Name="TxlQuestions.xml" />
      </Component>
      <Component Guid="{fc7b1474-f88a-46b7-9953-1894f9c00923}">
        <File Id="TxlQuestionWords.xml_P8" ShortName="yd6ebdz3.xml" KeyPath="yes" Name="TxlQuestionWords.xml" />
      </Component>
      <Component Guid="{524b2f76-d358-42a3-b32b-90f5f5410300}">
        <File Id="Analytics.NET.dll_P8" ShortName="k2rh61ic.dll" KeyPath="yes" Name="Analytics.NET.dll" />
      </Component>
      <Component Guid="{e4f75674-2ff5-4965-b402-5e71cee31e33}">
        <File Id="DesktopAnalytics.dll_P8" ShortName="l4wjej0m.dll" KeyPath="yes" Name="DesktopAnalytics.dll" />
      </Component>
      <Component Guid="{878e17ba-b1a0-45cc-9a0f-2b1047df11c8}">
        <File Id="Newtonsoft.Json.dll_P8" ShortName="yyul96eg.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Guid="{ecc0909d-02ef-40fd-91e5-346fd772c596}">
        <File Id="TxlCore.dll_P8" ShortName="e63sjme6.dll" KeyPath="yes" Name="TxlCore.dll" />
      </Component>
      <Component Guid="{17af00ab-d8e4-48a5-84f3-22a500f55686}">
        <File Id="SilUtils.dll_P8" ShortName="yyatkagv.dll" KeyPath="yes" Name="SilUtils.dll" />
      </Component>
      <Component Guid="{8da65678-990f-4d26-b30b-f9a0b3ab384e}">
        <File Id="SIL.WritingSystems.dll_P8" ShortName="q2jcchib.dll" KeyPath="yes" Name="SIL.WritingSystems.dll" />
        <File Id="SIL.WritingSystems.pdb_P8" Name="SIL.WritingSystems.pdb"/>
      </Component>
      <Component Guid="{425041c5-2c46-426b-9be1-1fda9ce60666}">
        <File Id="SIL.Windows.Forms.Keyboarding.dll_P8" ShortName="ochr89pt.dll" KeyPath="yes" Name="SIL.Windows.Forms.Keyboarding.dll" />
        <File Id="SIL.Windows.Forms.Keyboarding.pdb_P8" Name="SIL.Windows.Forms.Keyboarding.pdb"/>
      </Component>
      <Component Guid="{658481e1-e25e-4663-9ea1-b0ff43f42591}">
        <File Id="SIL.Windows.Forms.Scripture.dll_P8" ShortName="wtdrx7x9.dll" KeyPath="yes" Name="SIL.Windows.Forms.Scripture.dll" />
        <File Id="SIL.Windows.Forms.Scripture.pdb_P8" Name="SIL.Windows.Forms.Scripture.pdb"/>
      </Component>
      <Component Guid="{56307ad1-f507-4fbb-bf9b-cfe46299d414}">
        <File Id="SIL.Scripture.dll_P8" ShortName="qfrihxy0.dll" KeyPath="yes" Name="SIL.Scripture.dll" />
        <File Id="SIL.Scripture.pdb_P8" Name="SIL.Scripture.pdb"/>
      </Component>
      <Component Guid="{fb1bb928-930d-4765-a0fc-35cb1d65ca6a}">
        <File Id="SIL.Windows.Forms.dll_P8" ShortName="gqvfgrc4.dll" KeyPath="yes" Name="SIL.Windows.Forms.dll" />
        <File Id="SIL.Windows.Forms.pdb_P8" Name="SIL.Windows.Forms.pdb"/>
      </Component>
      <Component Guid="{b06457d9-ffee-490a-a91b-4be5963e0ed0}">
        <File Id="SIL.Core.dll_P8" ShortName="7eknk7h0.dll" KeyPath="yes" Name="SIL.Core.dll" />
        <File Id="SIL.Core.pdb_P8" Name="SIL.Core.pdb"/>
      </Component>
      <Component Guid="{DADD9256-2DB4-4E98-AB1F-A5F4AC369815}">
        <File Id="SIL.Core.Desktop.dll_P8" ShortName="gw7omb4n.dll" KeyPath="yes" Name="SIL.Core.Desktop.dll" />
        <File Id="SIL.Core.Desktop.pdb_P8" Name="SIL.Core.Desktop.pdb"/>
      </Component>
	    <Component Guid="{deb9c275-7425-4b06-a1ea-6c93ab1d4404}">
        <File Id="Keyman7Interop.dll_P8" ShortName="0n2q2w3k.dll" KeyPath="yes" Name="Keyman7Interop.dll" />
      </Component>
	    <Component Guid="{9F15C26D-18CA-4C54-A2E3-4BA3B3D3C15C}">
        <File Id="Keyman10Interop.dll_P8" ShortName="x2zh399x.dll" KeyPath="yes" Name="Keyman10Interop.dll" />
      </Component>
      <Component Guid="{620c6217-5618-4aeb-b13b-15f15b8906d0}">
        <File Id="KeymanLink.dll_P8" ShortName="ysg24p4b.dll" KeyPath="yes" Name="KeymanLink.dll" />
      </Component>
	    <Component Guid="{fb7d15cf-09ab-4b45-93bb-8ffdae0ad510}">
        <File Id="Transcelerator.pdb_P8" ShortName="t7n2y6jm.pdb" KeyPath="yes" Name="Transcelerator.pdb" />
      </Component>
      <Component Guid="{c33f7d66-3c8f-4f8e-a727-5e3bd20d6e11}">
        <File Id="TxlCore.pdb_P8" ShortName="payc3gvo.pdb" KeyPath="yes" Name="TxlCore.pdb" />
      </Component>
      <Component Guid="{4c4148d3-920f-44e7-b735-2a1e297f6dea}">
        <File Id="SilUtils.pdb_P8" ShortName="or48qpam.pdb" KeyPath="yes" Name="SilUtils.pdb" />
      </Component>	    
      <Component Guid="{4ca33611-21fa-4a2a-873c-04a34ece3082}">
        <File Id="Icon_P8" ShortName="mq0c74v5.ico" KeyPath="yes" Name="TXL no TXL.ico" />
      </Component>
      <Component Guid="{571c3c1b-c2e7-4391-875b-5060787fbd89}">
        <File Id="CreditsAndLicense.htm_P8" ShortName="j9ssl4i6.htm" KeyPath="yes" Name="CreditsAndLicense.htm" />
      </Component>
      <Component Id="Transcelerator.dll.config_P8" Guid="{27ffe346-fad2-49c3-a0e5-ee92c3420ad6}">
        <File Id="Transcelerator.dll.config_P8" ShortName="cs4ptmez.cfg" KeyPath="yes" Name="Transcelerator.dll.config" />
      </Component>
	  </ComponentGroup>

	<ComponentGroup Id="COMPONENTSFORP8PLUGIN_es" Directory="INSTALLDIR8" Source="..\Transcelerator\bin\Release">
      <Component Id="LocalizedPhrases_es.xlf_P8" Guid="{116D4A05-3D7E-4964-AC27-36DC38EE66B8}">
        <File Id="LocalizedPhrases_es.xlf_P8" ShortName="64emy0yg.xlf" KeyPath="yes" Name="LocalizedPhrases-es.xlf" />
      </Component>
	</ComponentGroup>
	
	<ComponentGroup Id="COMPONENTSFORP8PLUGIN_en_GB" Directory="INSTALLDIR8" Source="..\Transcelerator\bin\Release">
      <Component Id="LocalizedPhrases_en_GB.xlf_P8" Guid="{5538D0DE-30C2-411F-AFDA-B906F423B3A8}">
        <File Id="LocalizedPhrases_en_GB.xlf_P8" ShortName="zy33laeh.xlf" KeyPath="yes" Name="LocalizedPhrases-en-GB.xlf" />
      </Component>
	</ComponentGroup>

    <ComponentGroup Id="COMPONENTSFORP8TestPLUGIN" Directory="INSTALLDIR8TEST" Source="..\Transcelerator\bin\Release">
      <Component Guid="{7990ac5d-987f-4134-9146-ddb0ee7c5933}">
        <File Id="Transcelerator.dll_P8Test" ShortName="1qbjgu3h.dll" KeyPath="yes" Name="Transcelerator.dll" />
      </Component>
      <Component Guid="{8deb3ae1-0aef-43d3-ac57-b23705f93fe6}">
        <File Id="keyTermRules.xml_P8Test" ShortName="hofvpppe.xml" KeyPath="yes" Name="keyTermRules.xml" />
      </Component>
      <Component Guid="{3a081fbe-b3b2-44df-bf66-0ee8f774e9cc}">
        <File Id="keyTermRules.xsd_P8Test" ShortName="i79fcajh.xsd" KeyPath="yes" Name="keyTermRules.xsd" />
      </Component>
      <Component Guid="{4b9b520d-3025-42f4-aed1-120f6429b677}">
        <File Id="TxlQuestions.xml_P8Test" ShortName="rt9j11va.xml" KeyPath="yes" Name="TxlQuestions.xml" />
      </Component>
      <Component Guid="{9f22feff-d35a-47c9-876b-af6760c27690}">
        <File Id="TxlQuestionWords.xml_P8Test" ShortName="lab9u8fk.xml" KeyPath="yes" Name="TxlQuestionWords.xml" />
      </Component>
      <Component Guid="{dc8c9640-b274-4b73-9f71-2dda293ddea5}">
        <File Id="Analytics.NET.dll_P8Test" ShortName="y47plibz.dll" KeyPath="yes" Name="Analytics.NET.dll" />
      </Component>
      <Component Guid="{2e9f87f3-b981-425a-91f5-0e45ec90b282}">
        <File Id="DesktopAnalytics.dll_P8Test" ShortName="4ozp3nmo.dll" KeyPath="yes" Name="DesktopAnalytics.dll" />
      </Component>
      <Component Guid="{767b50fa-eea9-4abe-ae1e-fcbce8fa9dad}">
        <File Id="Newtonsoft.Json.dll_P8Test" ShortName="bgkmie5l.dll" KeyPath="yes" Name="Newtonsoft.Json.dll" />
      </Component>
      <Component Guid="{1d35b15c-25db-4af9-b80e-ecbcfffa93c9}">
        <File Id="TxlCore.dll_P8Test" ShortName="vq6hny5b.dll" KeyPath="yes" Name="TxlCore.dll" />
      </Component>
      <Component Guid="{1cea9e6f-736d-4189-93be-15c4f18085dc}">
        <File Id="SilUtils.dll_P8Test" ShortName="416jek1y.dll" KeyPath="yes" Name="SilUtils.dll" />
      </Component>
      <Component Guid="{a220c833-66ac-487e-bfea-e00de1dc33f6}">
        <File Id="SIL.WritingSystems.dll_P8Test" ShortName="8r8cz6l1.dll" KeyPath="yes" Name="SIL.WritingSystems.dll" />
        <File Id="SIL.WritingSystems.pdb_P8Test" Name="SIL.WritingSystems.pdb"/>
      </Component>
      <Component Guid="{bb6d2d96-7e16-480f-9f37-e219c3589013}">
        <File Id="SIL.Windows.Forms.Keyboarding.dll_P8Test" ShortName="0ehz7b9i.dll" KeyPath="yes" Name="SIL.Windows.Forms.Keyboarding.dll" />
        <File Id="SIL.Windows.Forms.Keyboarding.pdb_P8Test" Name="SIL.Windows.Forms.Keyboarding.pdb"/>
      </Component>
      <Component Guid="{516e4c61-4bc4-4e9e-a3ec-f2ef96727bb4}">
        <File Id="SIL.Windows.Forms.Scripture.dll_P8Test" ShortName="4aaxc6jt.dll" KeyPath="yes" Name="SIL.Windows.Forms.Scripture.dll" />
        <File Id="SIL.Windows.Forms.Scripture.pdb_P8Test" Name="SIL.Windows.Forms.Scripture.pdb" />
      </Component>
      <Component Guid="{d4021a80-8be2-467c-bdff-ea1496a883e6}">
        <File Id="SIL.Scripture.dll_P8Test" ShortName="yvx1fs1p.dll" KeyPath="yes" Name="SIL.Scripture.dll" />
        <File Id="SIL.Scripture.pdb_P8Test" Name="SIL.Scripture.pdb"/>
      </Component>
      <Component Guid="{efb05702-b4a0-4c0e-90d1-ee0e06011036}">
        <File Id="SIL.Windows.Forms.dll_P8Test" ShortName="9n4l8r68.dll" KeyPath="yes" Name="SIL.Windows.Forms.dll" />
        <File Id="SIL.Windows.Forms.pdb_P8Test" Name="SIL.Windows.Forms.pdb"/>
      </Component>
      <Component Guid="{ed487a12-4a45-4cea-bd98-05b70eaf1e8a}">
        <File Id="SIL.Core.dll_P8Test" ShortName="qzidxcbc.dll" KeyPath="yes" Name="SIL.Core.dll" />
        <File Id="SIL.Core.pdb_P8Test" Name="SIL.Core.pdb"/>
      </Component>
      <Component Guid="{2829C42C-3D44-4815-AB85-89C12B1FB0CE}">
        <File Id="SIL.Core.Desktop.dll_P8Test" ShortName="4jpk9hzs.dll" KeyPath="yes" Name="SIL.Core.Desktop.dll" />
        <File Id="SIL.Core.Desktop.pdb_P8Test" Name="SIL.Core.Desktop.pdb"/>
      </Component>
	    <Component Guid="{971d56c8-1076-4a7d-8a59-7b0233ffbd18}">
        <File Id="Keyman7Interop.dll_P8Test" ShortName="2pkf5jyr.dll" KeyPath="yes" Name="Keyman7Interop.dll" />
      </Component>
	    <Component Guid="{24788FDE-C09D-4D34-8AB0-CBA404A3BC08}">
        <File Id="Keyman10Interop.dll_P8Test" ShortName="2okx6fi7.dll" KeyPath="yes" Name="Keyman10Interop.dll" />
      </Component>
      <Component Guid="{393ba377-9ec7-4e9a-b565-325c20aae579}">
        <File Id="KeymanLink.dll_P8Test" ShortName="4pzbv61m.dll" KeyPath="yes" Name="KeymanLink.dll" />
      </Component>
	    <Component Guid="{e961e06b-0f95-4b24-8942-ad36bbd7da0c}">
        <File Id="Transcelerator.pdb_P8Test" ShortName="ijtwwnxe.pdb" KeyPath="yes" Name="Transcelerator.pdb" />
      </Component>
      <Component Guid="{cab157f6-4fe7-47c4-8589-fc370316e766}">
        <File Id="TxlCore.pdb_P8Test" ShortName="gpd0x10v.pdb" KeyPath="yes" Name="TxlCore.pdb" />
      </Component>
      <Component Guid="{106d798a-b9f3-4290-bf7c-d7d50f96365f}">
        <File Id="SilUtils.pdb_P8Test" ShortName="a9atp4kc.pdb" KeyPath="yes" Name="SilUtils.pdb" />
      </Component>	    
      <Component Guid="{e4c88967-58c9-46c5-ad9d-f25b063220ea}">
        <File Id="Icon_P8Test" ShortName="cla7agr3.ico" KeyPath="yes" Name="TXL no TXL.ico" />
      </Component>
      <Component Guid="{af269467-5d4f-44b1-ad63-8d14e3b9afe7}">
        <File Id="CreditsAndLicense.htm_P8Test" ShortName="c3vmxmvz.htm" KeyPath="yes" Name="CreditsAndLicense.htm" />
      </Component>
      <Component Id="Transcelerator.dll.config_P8Test" Guid="{a5571782-8b20-4538-953c-fabbcbcb932b}">
        <File Id="Transcelerator.dll.config_P8Test" ShortName="g9cputjl.cfg" KeyPath="yes" Name="Transcelerator.dll.config" />
      </Component>
	  </ComponentGroup>
  
	<ComponentGroup Id="COMPONENTSFORP8TestPLUGIN_es" Directory="INSTALLDIR8TEST" Source="..\Transcelerator\bin\Release" >
	  <Component Id="LocalizedPhrases_es.xlf_P8Test" Guid="{8152F7DF-01E1-4886-9C24-0F465A94EB60}">
        <File Id="LocalizedPhrases_es.xlf_P8Test" ShortName="dwf68pwf.xlf" KeyPath="yes" Name="LocalizedPhrases-es.xlf" />
      </Component>
	</ComponentGroup>
	
	<ComponentGroup Id="COMPONENTSFORP8TestPLUGIN_en_GB" Directory="INSTALLDIR8TEST" Source="..\Transcelerator\bin\Release">
      <Component Id="COMPONENTSFORP8TestPLUGIN_en_GB" Guid="{8940BFFC-065E-4EA4-AE82-2D204AB77FC8}">
        <File Id="LocalizedPhrases_en_GB.xlf_P8Test" ShortName="4fo7jpqg.xlf" KeyPath="yes" Name="LocalizedPhrases-en-GB.xlf" />
      </Component>
	</ComponentGroup>
	
	  <Feature Id="PluginFeature_P7" Level="0" Title="Plugin for Paratext 7.5" AllowAdvertise="no">
        <Condition Level="1"><![CDATA[PARATEXT75100ORGREATER]]></Condition>
        <ComponentGroupRef Id="COMPONENTSFORP7PLUGIN"/>
		<Feature Id="Localization_P7" Level="1" Title="Localizations" InstallDefault="followParent" AllowAdvertise="no">
		  <Feature Id="Localization_P7_es" Level="1" Title="español" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP7PLUGIN_es"/>
		  </Feature>
		  <Feature Id="Localization_P7_enGB" Level="1" Title="British English" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP7PLUGIN_en_GB"/>
		  </Feature>
		</Feature>
	  </Feature>
	
	  <Feature Id="PluginFeature_P7Test" Level="0" Title="Plugin for Paratext 7.6 (pre-release)" AllowAdvertise="no">
        <Condition Level="1"><![CDATA[PARATEXT7TEST]]></Condition>
        <ComponentGroupRef Id="COMPONENTSFORP7TestPLUGIN"/>
		<Feature Id="Localization_P7Test" Level="1" Title="Localizations" InstallDefault="followParent" AllowAdvertise="no">
		  <Feature Id="Localization_P7Test_es" Level="1" Title="español" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP7TestPLUGIN_es"/>
		  </Feature>
		  <Feature Id="Localization_P7Test_enGB" Level="1" Title="British English" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP7TestPLUGIN_en_GB"/>
		  </Feature>
		</Feature>
      </Feature>
	
	  <Feature Id="PluginFeature_P8" Level="0" Title="Plugin for Paratext 8" AllowAdvertise="no">
        <Condition Level="1"><![CDATA[PARATEXT8]]></Condition>
        <ComponentGroupRef Id="COMPONENTSFORP8PLUGIN"/>
		<Feature Id="Localization_P8" Level="1" Title="Localizations" InstallDefault="followParent" AllowAdvertise="no">
		  <Feature Id="Localization_P8_es" Level="1" Title="español" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP8PLUGIN_es"/>
		  </Feature>
		  <Feature Id="Localization_P8_enGB" Level="1" Title="British English" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP8PLUGIN_en_GB"/>
		  </Feature>
		</Feature>
      </Feature>
	
	  <Feature Id="PluginFeature_P8Test" Level="0" Title="Plugin for Paratext 8 Pre-release" AllowAdvertise="no">
        <Condition Level="1"><![CDATA[PARATEXT8TEST]]></Condition>
        <ComponentGroupRef Id="COMPONENTSFORP8TestPLUGIN"/>
		<Feature Id="Localization_P8Test" Level="1" Title="Localizations" InstallDefault="followParent" AllowAdvertise="no">
		  <Feature Id="Localization_P8Test_es" Level="1" Title="español" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP8TestPLUGIN_es"/>
		  </Feature>
		  <Feature Id="Localization_P8Test_enGB" Level="1" Title="British English" InstallDefault="followParent" AllowAdvertise="no">
			<ComponentGroupRef Id="COMPONENTSFORP8TestPLUGIN_en_GB"/>
		  </Feature>
		</Feature>
      </Feature>
	
	  <CustomAction Id="SetUpdatePluginStore_P7" Property="UpdatePluginStore_P7" Value="&quot;[PARATEXT7]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	  <CustomAction Id="SetUpdatePluginStore_P7Test" Property="UpdatePluginStore_P7Test" Value="&quot;[PARATEXT7TEST]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	  <CustomAction Id="SetUpdatePluginStore_P8" Property="UpdatePluginStore_P8" Value="&quot;[PARATEXT8]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	  <CustomAction Id="SetUpdatePluginStore_P8Test" Property="UpdatePluginStore_P8Test" Value="&quot;[PARATEXT8TEST]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	
	  <CustomAction Id="UpdatePluginStore_P7" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>
	  <CustomAction Id="UpdatePluginStore_P7Test" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>
	  <CustomAction Id="UpdatePluginStore_P8" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>
	  <CustomAction Id="UpdatePluginStore_P8Test" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>

	  <InstallExecuteSequence>
	    <Custom Action="RemoveAllTransceleratorUserCacheFiles" After="RemoveRegistryValues"></Custom>
      
	    <!--<RemoveExistingProducts After="InstallFinalize" />-->
	    <Custom Action="UpdatePluginStore_P7" Before="InstallFinalize">
	      <![CDATA[&PluginFeature_P7=3]]>
	    </Custom>
	    <Custom Action="SetUpdatePluginStore_P7" Before="UpdatePluginStore_P7">
	      <![CDATA[&PluginFeature_P7=3]]>
	    </Custom>

      <Custom Action="UpdatePluginStore_P7Test" Before="InstallFinalize">
	      <![CDATA[&PluginFeature_P7Test=3]]>
	    </Custom>
	    <Custom Action="SetUpdatePluginStore_P7Test" Before="UpdatePluginStore_P7Test">
	      <![CDATA[&PluginFeature_P7Test=3]]>
	    </Custom>

      <Custom Action="UpdatePluginStore_P8" Before="InstallFinalize">
	      <![CDATA[&PluginFeature_P8=3]]>
	    </Custom>
	    <Custom Action="SetUpdatePluginStore_P8" Before="UpdatePluginStore_P8">
	      <![CDATA[&PluginFeature_P8=3]]>
	    </Custom>

      <Custom Action="UpdatePluginStore_P8Test" Before="InstallFinalize">
	      <![CDATA[&PluginFeature_P8Test=3]]>
	    </Custom>
	    <Custom Action="SetUpdatePluginStore_P8Test" Before="UpdatePluginStore_P8Test">
	      <![CDATA[&PluginFeature_P8Test=3]]>
	    </Custom>
	  </InstallExecuteSequence>
	
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    
    <!-- Icon you see in add/remove programs control panel -->
    <Icon Id="Transcelerator.ico" SourceFile ="..\Transcelerator\bin\Release\Transcelerator.dll" />
    <Property Id="ARPPRODUCTICON" Value="Transcelerator.ico" />
  </Product>
</Wix>

