<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I L D_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "1.0.4905" ?>

<!-- * means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
<?define Property_ProductCode = "*" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{6CA771D3-AA98-4cab-8616-2777C8EEA23D}" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component:
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="Transcelerator $(var.Property_ProductVersion)" Language="1033"
             Version="$(var.Property_ProductVersion)" Manufacturer="SIL International"
             UpgradeCode="$(var.Property_UpgradeCode)">

    <Package  Compressed="yes" InstallerVersion="200" Manufacturer="SIL International" />

	<MajorUpgrade Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of Transcelerator is already installed. If you really want to downgrade, first uninstall Transcelerator, then do this install again."/>

    <!--<Upgrade Id ="$(var.Property_UpgradeCode)" >
      <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade >-->

    <!-- show the license page -->
    <UIRef Id="WixUI_Minimal"/>
    <!-- Top banner / 493 × 58 -->
    <WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
    <!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
    <WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
    <WixVariable Id="WixUILicenseRtf" Value="..\DistFiles\License.rtf" />
    
    <!-- 
    "from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

    <Property Id="PARATEXT7" Secure="yes">
      <RegistrySearch Id="Paratext7"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Program_Files_Directory_Ptw7"
                      Type="directory" />
    </Property>
    <Condition Message="Before Transcelerator can install, you need to install Paratext 7.4 or later.">
      <![CDATA[Installed OR PARATEXT7]]>
    </Condition>

    <!--because of bug, this needs to be 1 -->
    <Property Id ="ALLUSERS">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PARATEXT7" Name="ParatextDir">
          <Directory Id="PLUGINDIR" Name="plugins">
            <Directory Id="INSTALLDIR" Name="Transcelerator"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Guid="{AC56B7F3-C820-43f3-A47D-E30B01BB4FC6}">
        <File Name="Transcelerator.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Transcelerator.dll" />
      </Component>
      <Component Guid="{C0907C0A-1400-44bf-BFC3-6F0D0F3ED03B}">
        <File Name="keyTermRules.xml" KeyPath="yes" Source="..\Transcelerator\bin\Release\keyTermRules.xml" />
      </Component>
      <Component Guid="{120C24DA-4D9B-4192-B5CB-0B13CDC8410B}">
        <File Name="keyTermRules.xsd" KeyPath="yes" Source="..\Transcelerator\bin\Release\keyTermRules.xsd" />
      </Component>
      <Component Guid="{1F622276-9A2E-4FAD-BC49-560AEB8FCBFA}">
        <File Id="TxlQuestions.xml" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlQuestions.xml" />
      </Component>
	  <Component Guid="{D3C63576-5988-4f10-9BBC-73605E9B95E9}">
		<File Name="SharedScrControls.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SharedScrControls.dll" />
	  </Component>
	  <Component Guid="{9FDCE013-5249-4D5E-857D-AFFD9C28DBA6}">
		<File Name="TxlCore.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlCore.dll" />
	  </Component>
      <Component Guid="{ED70C349-50FA-46f8-B1E8-B314A900D1BC}">
        <File Name="SharedScrUtils.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SharedScrUtils.dll" />
      </Component>
      <Component Guid="{ECA02522-194A-4694-B90B-C760595D24C5}">
        <File Name="SilUtils.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SilUtils.dll" />
      </Component>
	  <Component Guid="{B3823867-B6D4-48b1-B73E-6D1C5B868B9C}">
		<File Name="Palaso.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Palaso.dll" />
	  </Component>
	  <Component Guid="{0FF64E02-71A7-4791-90E5-646AF7AC88CA}">
		<File Name="PalasoUIWindowsForms.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\PalasoUIWindowsForms.dll" />
	  </Component>
	  <Component Guid="{5D7D6D47-0C76-4CCB-B81A-923A90EC7AB3}">
		<File Name="Transcelerator.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\Transcelerator.pdb" />
	  </Component>
	  <Component Guid="{101FE397-3F77-4156-84E8-816757256D2A}">
		<File Name="SharedScrControls.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\SharedScrControls.pdb" />
	  </Component>
	  <Component Guid="{F289E8D6-42EC-4D72-8C0D-4347E17497F8}">
		<File Name="TxlCore.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlCore.pdb" />
	  </Component>
	  <Component Guid="{FCE5871C-4633-48DC-8E03-9280F717F539}">
		<File Name="SharedScrUtils.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\SharedScrUtils.pdb" />
	  </Component>
	  <Component Guid="{D381546C-F766-4532-B23C-FB8B55320A6D}">
		<File Name="SilUtils.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\SilUtils.pdb" />
	  </Component>
	  <Component Guid="{7D68C67E-F306-44A3-9F16-5D4F95AF34B0}">
		<File Name="Palaso.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\Palaso.pdb" />
	  </Component>
	  <Component Guid="{74F3CC00-E6D4-43FA-A9A9-5970DD3F28B6}">
		<File Name="PalasoUIWindowsForms.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\PalasoUIWindowsForms.pdb" />
	  </Component>
	  <Component Guid="{32B95588-AEDD-43A3-AB4A-B4ECF3ADC49E}">
		<File Id="Icon" Name="TXL no TXL.ico" KeyPath="yes" Source="..\Transcelerator\bin\Release\TXL no TXL.ico" />
	  </Component>
	</DirectoryRef>
	
	<Feature Id="PluginFeature" Level="1" Title="Plugin for Paratext">
      <ComponentRef Id ="Transcelerator.dll"/>
      <ComponentRef Id="keyTermRules.xml"/>
      <ComponentRef Id="keyTermRules.xsd"/>
      <ComponentRef Id="TxlQuestions.xml"/>
	  <ComponentRef Id="SharedScrControls.dll"/>
	  <ComponentRef Id="TxlCore.dll"/>
      <ComponentRef Id="SharedScrUtils.dll"/>
      <ComponentRef Id="SilUtils.dll"/>
	  <ComponentRef Id="Palaso.dll"/>
	  <ComponentRef Id="PalasoUIWindowsForms.dll"/>
	  <ComponentRef Id ="Transcelerator.pdb"/>
	  <ComponentRef Id="SharedScrControls.pdb"/>
	  <ComponentRef Id="TxlCore.pdb"/>
	  <ComponentRef Id="SharedScrUtils.pdb"/>
	  <ComponentRef Id="SilUtils.pdb"/>
	  <ComponentRef Id="Palaso.pdb"/>
	  <ComponentRef Id="PalasoUIWindowsForms.pdb"/>
	  <ComponentRef Id="Icon"/>
	</Feature>
	
	<CustomAction Id="SetUpdatePluginStore" Property="UpdatePluginStore" Value="&quot;[PARATEXT7]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	<CustomAction Id="UpdatePluginStore" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>

	<InstallExecuteSequence>
	  <!--<RemoveExistingProducts After="InstallFinalize" />-->
	  <Custom Action="UpdatePluginStore" Before="InstallFinalize"></Custom>
	  <Custom Action="SetUpdatePluginStore" Before="UpdatePluginStore"></Custom>
	</InstallExecuteSequence>
	
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    
    <!-- Icon you see in add/remove programs control panel -->
    <Icon Id="Transcelerator.ico" SourceFile ="..\Transcelerator\bin\Release\Transcelerator.dll" />
    <Property Id="ARPPRODUCTICON" Value="Transcelerator.ico" />
  </Product>
</Wix>

