<?xml version="1.0" encoding="UTF-8"?>
<!-- These variables define the Windows Installer product version, product code and upgrade code. They   -->
<!-- will be used later on in this file.  this value should be B U I L D_SCRIPT_MUST_REPLACE_AT_RUNTIME (in quotes) -->
<?define Property_ProductVersion = "BUILD_SCRIPT_MUST_REPLACE_AT_RUNTIME" ?>

<!-- * means auto-generate a new guid each time. This is "a unique identifier for the particular product release" -->
<?define Property_ProductCode = "*" ?>

<!--Don't even think of EVER changing this, despite the counter-intuitive name. What it is: "a shared identifier that represents multiple versions of an application" -->
<?define Property_UpgradeCode = "{6CA771D3-AA98-4cab-8616-2777C8EEA23D}" ?>

<!-- good intro to the component vs. file thing, and why each file here is a separate component (except I've combined some PDB files with their DLLs):
http://blogs.msdn.com/robmen/archive/2003/10/04/56479.aspx -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="$(var.Property_ProductCode)" Name="Transcelerator $(var.Property_ProductVersion)" Language="1033"
             Version="$(var.Property_ProductVersion)" Manufacturer="SIL International"
             UpgradeCode="$(var.Property_UpgradeCode)">

    <Package  Compressed="yes" InstallerVersion="200" Manufacturer="SIL International" />

	<MajorUpgrade Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A later version of Transcelerator is already installed. If you really want to downgrade, first uninstall Transcelerator, then do this install again."/>

    <!--<Upgrade Id ="$(var.Property_UpgradeCode)" >
      <UpgradeVersion Minimum ="$(var.Property_ProductVersion)" OnlyDetect ="yes" Property ="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum ="0.0.0" IncludeMinimum ="yes" Maximum ="$(var.Property_ProductVersion)" IncludeMaximum ="no" Property ="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade >-->

    <!-- show the license page -->
    <UIRef Id="WixUI_Minimal"/>
    <!-- Top banner / 493 × 58 -->
    <WixVariable Id='WixUIBannerBmp' Value='installerBanner.jpg' />
    <!-- Background bitmap used on the welcome and completion dialogs / 493 × 312 -->
    <WixVariable Id='WixUIDialogBmp' Value='installerBackground.jpg' />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <!-- 
    "from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
users to install just the shortcut for your app, then demand-install the
rest of the app the first time the icon is run.  If this is not behavior you
are trying to support, you're better off using non-advertised shortcuts. "-->

    <Property Id="PARATEXT7" Secure="yes">
      <RegistrySearch Id="Paratext7"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Program_Files_Directory_Ptw7"
                      Type="directory" />
    </Property>
    <Property Id="PARATEXT7TEST" Secure="yes">
      <RegistrySearch Id="Paratext7Test"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Test_Program_Files_Directory_Ptw7"
                      Type="directory" />
    </Property>
    <Property Id="PARATEXT8" Secure="yes">
      <RegistrySearch Id="Paratext8"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Program_Files_Directory_Ptw8"
                      Type="directory" />
    </Property>
    <Property Id="PARATEXT8TEST" Secure="yes">
      <RegistrySearch Id="Paratext8Test"
                      Root="HKLM"
                      Key="SOFTWARE\ScrChecks\1.0\Test_Program_Files_Directory_Ptw8"
                      Type="directory" />
    </Property>
    <Condition Message="Before Transcelerator can install, you need to install Paratext 7.5.100.0 or later.">
        <![CDATA[Installed OR PARATEXT7 OR PARATEXT7TEST OR PARATEXT8 OR PARATEXT8TEST]]>
    </Condition>
        
    <Property Id="PARATEXT7VERSION">
        <DirectorySearch Id="ParatextExeVersion" Path="[PARATEXT7]">
          <FileSearch Name="Paratext.exe" MinVersion="7.5.100.0"/>
        </DirectorySearch>
    </Property>
    <Condition Message="Before Transcelerator can install, you need to install Paratext 7.5.100.0 or later.">
      <![CDATA[Installed OR PARATEXT7VERSION OR PARATEXT7TEST OR PARATEXT8 OR PARATEXT8TEST]]>
    </Condition>

    <!--because of bug, this needs to be 1 -->
    <Property Id ="ALLUSERS">1</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PARATEXT7" Name="ParatextDir">
          <Directory Id="PLUGINDIR" Name="plugins">
            <Directory Id="INSTALLDIR" Name="Transcelerator"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Guid="{AC56B7F3-C820-43f3-A47D-E30B01BB4FC6}">
        <File Name="Transcelerator.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Transcelerator.dll" />
      </Component>
      <Component Guid="{C0907C0A-1400-44bf-BFC3-6F0D0F3ED03B}">
        <File Name="keyTermRules.xml" KeyPath="yes" Source="..\Transcelerator\bin\Release\keyTermRules.xml" />
      </Component>
      <Component Guid="{120C24DA-4D9B-4192-B5CB-0B13CDC8410B}">
        <File Name="keyTermRules.xsd" KeyPath="yes" Source="..\Transcelerator\bin\Release\keyTermRules.xsd" />
      </Component>
      <Component Guid="{1F622276-9A2E-4FAD-BC49-560AEB8FCBFA}">
        <File Id="TxlQuestions.xml" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlQuestions.xml" />
      </Component>
      <Component Guid="{E0A7B9CE-FAC2-4726-9305-9FD3B0501699}">
        <File Name="TxlQuestionWords.xml" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlQuestionWords.xml" />
      </Component>
	    <Component Guid="{352892BC-8904-4760-8E61-FC26C2865827}">
		    <File Name="Analytics.NET.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Analytics.NET.dll" />
	    </Component>
	    <Component Guid="{E015C97A-B102-4C98-8D2A-57CB09D3B2D1}">
		    <File Name="DesktopAnalytics.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\DesktopAnalytics.dll" />
	    </Component>
	    <Component Guid="{F173527F-7D86-4586-ADE0-7310681ECADD}">
		    <File Name="Newtonsoft.Json.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Newtonsoft.Json.dll" />
	    </Component>
	    <Component Guid="{9FDCE013-5249-4D5E-857D-AFFD9C28DBA6}">
		    <File Name="TxlCore.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlCore.dll" />
	    </Component>
      <Component Guid="{ECA02522-194A-4694-B90B-C760595D24C5}">
        <File Name="SilUtils.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SilUtils.dll" />
      </Component>
      <Component Guid="{1A126530-7E7F-4169-96E4-00900BA09864}">
        <File Name="SIL.WritingSystems.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.WritingSystems.dll" />
        <File Name="SIL.WritingSystems.pdb" Source="..\Transcelerator\bin\Release\SIL.WritingSystems.pdb" />
      </Component>
      <Component Guid="{22416287-2AA6-469C-8240-2B5DB18C984E}">
        <File Name="SIL.Windows.Forms.Keyboarding.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.Keyboarding.dll" />
        <File Name="SIL.Windows.Forms.Keyboarding.pdb" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.Keyboarding.pdb" />
      </Component>
      <Component Guid="{C0CFE633-A73C-4344-99B8-7A6A13F45B58}">
        <File Name="SIL.Windows.Forms.Scripture.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.Scripture.dll" />
        <File Name="SIL.Windows.Forms.Scripture.pdb" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.Scripture.pdb" />
      </Component>
      <Component Guid="{6FF0AF28-DF6E-49FD-AB94-3A782C24D8D4}">
        <File Name="SIL.Scripture.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.Scripture.dll" />
        <File Name="SIL.Scripture.pdb" Source="..\Transcelerator\bin\Release\SIL.Scripture.pdb" />
      </Component>
      <Component Guid="{FF6542DE-FFE1-4BF6-ABAB-CF21BD3318F3}">
        <File Name="SIL.Windows.Forms.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.dll" />
        <File Name="SIL.Windows.Forms.pdb" Source="..\Transcelerator\bin\Release\SIL.Windows.Forms.pdb" />
      </Component>
      <Component Guid="{6E7C6D97-830E-4FDA-AC27-70951793A4B1}">
        <File Name="SIL.Core.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\SIL.Core.dll" />
        <File Name="SIL.Core.pdb" Source="..\Transcelerator\bin\Release\SIL.Core.pdb" />
      </Component>
	    <Component Guid="{98D718FC-99AF-4AEF-BE0D-9D24F69B5DA7}">
        <File Name="Keyman7Interop.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\Keyman7Interop.dll" />
      </Component>
      <Component Guid="{EE7BDDBE-F456-4257-A5C6-F2B3C1B79097}">
        <File Name="KeymanLink.dll" KeyPath="yes" Source="..\Transcelerator\bin\Release\KeymanLink.dll" />
      </Component>
	    <Component Guid="{5D7D6D47-0C76-4CCB-B81A-923A90EC7AB3}">
		    <File Name="Transcelerator.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\Transcelerator.pdb" />
	    </Component>
	    <Component Guid="{F289E8D6-42EC-4D72-8C0D-4347E17497F8}">
		    <File Name="TxlCore.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\TxlCore.pdb" />
	    </Component>
	    <Component Guid="{D381546C-F766-4532-B23C-FB8B55320A6D}">
		    <File Name="SilUtils.pdb" KeyPath="yes" Source="..\Transcelerator\bin\Release\SilUtils.pdb" />
	    </Component>	    
      <Component Guid="{32B95588-AEDD-43A3-AB4A-B4ECF3ADC49E}">
		    <File Id="Icon" Name="TXL no TXL.ico" KeyPath="yes" Source="..\Transcelerator\bin\Release\TXL no TXL.ico" />
	    </Component>
      <Component Guid="{C8A6EE73-5613-49B6-A656-1C030DC81E49}">
        <File Name="CreditsAndLicense.htm" KeyPath="yes" Source="..\Transcelerator\bin\Release\CreditsAndLicense.htm" />
      </Component>
      <Component Id="Transcelerator.dll.config" Guid="{203E0DA1-9EF1-43C0-9E3B-756566BECA56}">
        <File Id="Transcelerator.dll.config" Name="Transcelerator.dll.config" KeyPath="yes" Source="..\Transcelerator\bin\Release\Transcelerator.dll.config" />
      </Component>
	</DirectoryRef>
	
	<Feature Id="PluginFeature" Level="1" Title="Plugin for Paratext">
    <ComponentRef Id ="Transcelerator.dll"/>
    <ComponentRef Id="keyTermRules.xml"/>
    <ComponentRef Id="keyTermRules.xsd"/>
    <ComponentRef Id="TxlQuestionWords.xml"/>
    <ComponentRef Id="TxlQuestions.xml"/>
	  <ComponentRef Id="Analytics.NET.dll"/>
	  <ComponentRef Id="DesktopAnalytics.dll"/>
	  <ComponentRef Id="Newtonsoft.Json.dll"/>
	  <ComponentRef Id="TxlCore.dll"/>
    <ComponentRef Id="SilUtils.dll"/>
    <ComponentRef Id="SIL.WritingSystems.dll"/>
    <ComponentRef Id="SIL.Windows.Forms.Keyboarding.dll"/>
    <ComponentRef Id="SIL.Windows.Forms.Scripture.dll"/>
    <ComponentRef Id="SIL.Scripture.dll"/>
    <ComponentRef Id="SIL.Windows.Forms.dll"/>
    <ComponentRef Id="SIL.Core.dll"/>
    <ComponentRef Id="Keyman7Interop.dll"/>
    <ComponentRef Id="KeymanLink.dll"/>
	  <ComponentRef Id ="Transcelerator.pdb"/>
	  <ComponentRef Id="TxlCore.pdb"/>
	  <ComponentRef Id="SilUtils.pdb"/>
	  <ComponentRef Id="Icon"/>
    <ComponentRef Id="CreditsAndLicense.htm"/>
    <ComponentRef Id="Transcelerator.dll.config"/>
  </Feature>
	
	<CustomAction Id="SetUpdatePluginStore" Property="UpdatePluginStore" Value="&quot;[PARATEXT7]UpdateParatextPluginCache.exe&quot;" Execute="immediate" Return="check"/>
	<CustomAction Id="UpdatePluginStore" BinaryKey="WixCA" DllEntry="CAQuietExec" Impersonate="no" Execute="deferred" Return="check"/>

	<InstallExecuteSequence>
	  <!--<RemoveExistingProducts After="InstallFinalize" />-->
	  <Custom Action="UpdatePluginStore" Before="InstallFinalize"></Custom>
	  <Custom Action="SetUpdatePluginStore" Before="UpdatePluginStore"></Custom>
	</InstallExecuteSequence>
	
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    
    <!-- Icon you see in add/remove programs control panel -->
    <Icon Id="Transcelerator.ico" SourceFile ="..\Transcelerator\bin\Release\Transcelerator.dll" />
    <Property Id="ARPPRODUCTICON" Value="Transcelerator.ico" />
  </Product>
</Wix>

